*{
    margin: 0;
    padding: 0;
    
}
body{
    text-align: center;
    background-color: rgb(84, 65, 78);
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 50vmin;
    width: 50vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    /* gap: 7px; */
}

.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    color: rgb(135, 92, 116);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;

}

#reset-button{
    padding: 1rem;
    font-size: 1rem;
    color: rgb(150, 95, 120);
    border: none;
    transition: all .3s;
    border-radius: 1rem;
}

#reset-button:hover{
    background-color: rgb(150, 95, 120);
    color: white;
}

.msg-container{
    font-size: 40px;
    color: white;
    padding-bottom: 30px;
}

#new-btn{
    padding: 0.5rem;
    font-size: 1rem;
    color: rgb(150, 95, 120);
    border: none;
    transition: all .3s;
    border-radius: 1rem;
}

.hide{
    display: none;
}