*{
    margin: 0;
    padding: 0;
    
}
body{
    text-align: center;
    /* background-color: rgb(84, 65, 78); */
    background-color: #124E78;
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 50vmin;
    width: 50vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    /* gap: 7px; */
}

.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    color: rgb(135, 92, 116);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;

}

#reset-button{
    padding: 1rem;
    font-size: 1rem;
    /* color: rgb(150, 95, 120); */
    color: #1b73b1;
    border: none;
    transition: all .3s;
    border-radius: 1rem;
}

#reset-button:hover{
    /* background-color: rgb(150, 95, 120); */
    background-color: #1b73b1;
    /* color: white; */
    color: #F0F0C9;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    /* color: white; */
    color: #F0F0C9;
    padding-bottom: 30px;
    gap: 5rem;
}

#new-btn{
    padding: 0.5rem;
    font-size: 1rem;
    /* color: rgb(150, 95, 120); */
    color: #1b73b1;
    border: none;
    transition: all .3s;
    border-radius: 1rem;
}

.hide{
    display: none;
}